[submodule "source/external/BakkesModSDK"]
	path = source/external/BakkesModSDK
	url = https://github.com/bakkesmodorg/BakkesModSDK
[submodule "source/external/discord-rpc"]
	path = source/external/discord-rpc
	url = https://github.com/discord/discord-rpc
